<div class="container">

  <div class="row">
    <div class="col-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Employee</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>

  <div class="row">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name<br />(job title)</th>
        <th scope="col">Age</th>
        <th scope="col">Username</th>
        <th scope="col">Hire Date</th>
        <th scope="col">Country</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees | async">
        <td scope="row">{{ employee.name }}<br />{{ employee.jobTitle }}</td>
        <td>{{ currentYear - employee.dateOfBirth['year'] }}</td>
        <td>{{ employee.userName }}</td>
        <td>{{employee.hireDate.year}}/{{employee.hireDate.month}}/{{employee.hireDate.day}}</td>
        <td>{{ employee.country }}</td>
        <td>
          <i><a href="/edit-employee"><img src="../../assets/edit.png" alt="Edit Employee"></a></i>
          <i><a href="/view-employee"><img src="../../assets/view.png" alt="View Employee"></a></i>
          <i><a href="/erase-employee"><img src="../../assets/trash.png" alt="Delete Employee"></a></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <button
      type="button"
      class="btn btn-primary"
      (click)="gotoNewEmployee()"
    >
      + Add new employee
    </button>
  </div>

</div>
